<template name="editHouseDetailsForm">
    <div class="card-content black-text">
        <div class="col m4">
            <span class="card-title grey-text text-darken-4">Listing Details</span>
            <p class="grey-text text-darken-2"> Provide basic information about your listing</p>
            <span id='price-icon' class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x blue-text"></i>
                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="col m8">
            {{#pricingFormBlock schema=houseSchema action=action data=this}}
                {{> textInputHor field='city'}}
                {{> selectInput field='houseType' options=houseType}}
                {{> selectInput field='bedrooms' options=bedrooms}}
                {{> selectInput field='bathrooms' options=bathrooms}}
            {{/pricingFormBlock}}
        </div>
    </div>
</template>

