template(name="editHousePhotoForm")
    #edit-house-photo.col-md-6.col-md-offset-3.text-center
        i(class='fa fa-camera-retro fa-2x' aria-hidden='true' id='blue-camera')
        h4(class='service-heading') Add some pictures
        p(class='text-muted') Make an impression by adding some nice pictures of your listing.
        button(id='upload-photo' class='btn btn-primary')
            <i class="fa fa-cloud-upload"></i> Add Photos











