template(name="editHouse")
    .row.clearfix
        nav.teal.lighten-1
            .nav-wrapper
                a.brand-logo.white-text(href="#") Manage your #{houseHeading}
                ul.right
                    li
                        a.white-text(href="{{pathFor 'viewHouse' }}")
                            i.mdi-action-visibility.left
                            &nbsp;Preview
    .row.clearfix
        .col.m3
            #side-bar(role="navigation")
                +menuEditHouse
        .col.m8
            #content-wrapper
                +formEditHouse

template(name="menuEditHouse")
    ul.collection
        li
            a.collection-item(href='#' id='pricing')
                p
                    i.mdi-editor-attach-money.lead
                    &nbsp; &nbsp; &nbsp;&nbsp; Pricing
        li
            a.collection-item(href='#' id='details')
                p
                    i.mdi-action-list.lead
                    &nbsp; &nbsp;&nbsp;&nbsp; Listing Details
        li
            a.collection-item(href='#' id='photo')
                p
                    i.mdi-editor-insert-photo.lead
                    &nbsp; &nbsp;&nbsp;&nbsp; Photo
        li
            a.collection-item(href='#' id='location')
                p
                    i.mdi-maps-place.lead
                    &nbsp; &nbsp;&nbsp;&nbsp;Location
        li
            a.collection-item(href='#' id='amenities')
                p
                    i.mdi-maps-local-laundry-service.lead
                    &nbsp; &nbsp;&nbsp;&nbsp;Amenities

template(name="formEditHouse")
    .row
        .col.m12
            #form-wrapper.card.blue-grey.lighten-5
                +Template.dynamic template=editHouseForm




