<template name="editHouseLocationForm">
    <div class="row">
        <div class="card-content black-text">
            <div class="row">
                <div class="col m4">
                    <span class="card-title grey-text text-darken-4">Location</span>
                    <p class="grey-text text-darken-2"> Show Tenants where your house is located. Add an address and use the map to pin point the exact location of your house.</p>
                    <span class="fa-stack fa-4x margin-top-20">
                        <i class="fa fa-circle fa-stack-2x teal-text text-lighten-2"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col m8">

                    {{> textInputHor schema=locationSchema field='surburb' data=houseLocation submitted=true}}

                    {{> textInputHor schema=locationSchema field='houseNumber' data=houseLocation submitted=true}}

                    <div id="auto-complete">
                        {{> textInputGeo schema=locationSchema field='address' name='formatted_address' data=houseLocation submitted=true}}
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="map-container"></div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col m12">
            <div class="card-action">
                <a id="back" class="left" href="#">Back</a>
                <a id="next" class="right" href="#">Next</a>
            </div>
        </div>
    </div>
</template>






