<template name="reactiveEditHouseForm">
    {{#pricingFormBlock schema=pricingSchema action=action data=housePricing}}
        {{> selectInput field='currency' options=currency}}
        {{> priceInput field='price'}}
        {{> selectInput field='advancedPayment' options=advancedPayment}}
    {{/pricingFormBlock}}
</template>

<!-- Reusable input element -->
<template name="priceInput">
    <div class="reactive-input-container">

        <div class="form-group {{errorClass}}">
            <label>{{label}}</label>
            <div class="input-group">
                <input class="form-control reactive-element" placeholder="{{instructions}}" value={{value}} {{disabled}}>
                <span class="input-group-addon">.00</span>
            </div>
        </div>



        {{!-- Hide messages if the surrounding form was successfully submitted --}}
        {{#unless success}}

        {{!-- If submitted and not success, show error messages --}}
            {{#if submitted}}

                {{#if errorMessage}}
                    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
                {{/if}}

            {{/if}}

        {{/unless}}

    </div>
</template>

<!-- Reusable select element -->
<template name="selectInput">
    <div class="reactive-input-container">

        <div class="form-group">
            <label>{{label}}</label>
            <select class="form-control reactive-element">
                {{#each this.options}}
                    <option value={{this}} {{isSelected this value}}>{{this}}</option>
                {{/each}}
            </select>
        </div>

        {{!-- Hide messages if the surrounding form was successfully submitted --}}
        {{#unless success}}

        {{!-- If submitted and not success, show error messages --}}
            {{#if submitted}}

                {{#if errorMessage}}
                    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
                {{/if}}

            {{/if}}

        {{/unless}}

    </div>
</template>

<!-- Reusable form block -->
<template name="pricingFormBlock">
    <form class='form-horizontal' id='editHousePricing' role="form">

        <p>

            {{#if invalid}}
                <div class="alert alert-warning"><strong>Can't submit!</strong>
                    There is <span class="badge">{{invalidCount}}</span> invalid field!
                </div>
            {{/if}}

            {{#if failed}}
                <div class="alert alert-danger">
                    <strong>{{#if failedMessage}}{{failedMessage}}{{else}}There was a problem submitting the form!{{/if}}</strong>
                </div>
            {{/if}}

            {{#if success}}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Saved!</strong>
                </div>
            {{/if}}


        </p>

        {{!-- Using a helper to get form-level schema context --}}
        {{> UI.contentBlock
                context=context
                data=data
        }}

        <p>

            {{#if changed}}
                {{#unless success}}
                    <button type="submit" class="btn btn-md btn-primary">Save</button>
                {{/unless}}
            {{/if}}

            {{#if loading}}
                {{> spinner}}
            {{/if}}

        </p>

    </form>
</template>


