<template name="editHousePricingForm">
    <div class="card-content black-text">
        <div class="col m4">
            <span class="card-title grey-text text-darken-4">Pricing</span>
            <p class="grey-text text-darken-2"> Set the price potential tenants will see for your listing</p>
            <span id='price-icon' class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x blue-text"></i>
                <i class="fa fa-money fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="col m8">
            {{#pricingFormBlock schema=pricingSchema action=action data=housePricing}}
                {{> textInputHor field='price'}}
                {{> selectInput field='currency' options=currency}}
                {{> selectInput field='advancedPayment' options=advancedPayment}}
            {{/pricingFormBlock}}
        </div>
    </div>

</template>

<!-- Reusable form block -->
<template name="pricingFormBlock">
    <form class="form-padding" id='editHousePricing' role="form">

        {{!-- Using a helper to get form-level schema context --}}
        {{> UI.contentBlock
            context=context
            data=data
        }}

        <div class="col  m10">

            {{#if loading}}
                {{> spinner}}
            {{/if}}

            {{#if changed}}
                {{#unless success}}
                    <div class="col s4" id="form-button">
                        <button class="btn waves-light" type="submit"><span class="network-name">Save</span></button>
                    </div>
                {{/unless}}
            {{/if}}

        </div>

    </form>
</template>


