<template name="editHouseAmenitiesForm">
    <div class="row">
        <div class="card-content black-text">
            <div class="col m4">
                <span class="card-title grey-text text-darken-4">Amenities</span>
                <p class="grey-text text-darken-2"> Tell Tenants about your house. Highlight what is unique and special about your house to make it standout.</p>
                <span class="fa-stack fa-4x margin-top-20">
                    <i class="fa fa-circle fa-stack-2x teal-text text-lighten-2"></i>
                    <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="col m8">
                {{> checkbox schema=amenitiesSchema field='kitchen' data=this}}
                {{> checkbox schema=amenitiesSchema field='waterHeater' data=this}}
                {{> checkbox schema=amenitiesSchema field='swimmingPool' data=this}}
                {{> checkbox schema=amenitiesSchema field='parkingSpace' data=this}}
                {{> checkbox schema=amenitiesSchema field='elevator' data=this}}
                {{> checkbox schema=amenitiesSchema field='furniture' data=this}}
                {{> checkbox schema=amenitiesSchema field='gym' data=this}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col m12">
            <div class="card-action">
                <a id="back" class="left" href="#">Back</a>
                <a id="next" class="right" href="#">Next</a>
            </div>
        </div>
    </div>
</template>