<template name="reactiveEditHouseForm">
    {{#pricingFormBlock schema=schema action=action data=pricingData}}
        {{> selectInput field='currency'}}
        {{> textInput field='price'}}
        {{> selectInput field='advanced_payment'}}
    {{/pricingFormBlock}}
</template>

<!-- Reusable input element -->
<template name="textInput">
    <div class="reactive-input-container">

        <div class="form-group">
            <label>{{label}}</label>
            <div class="input-group">
                <input class="form-control reactive-element" placeholder="{{instructions}}" value={{value}} {{disabled}}>
                <span class="input-group-addon">.00</span>
            </div>
        </div>



        {{!-- Hide messages if the surrounding form was successfully submitted --}}
        {{#unless success}}

        {{!-- If submitted and not success, show error messages --}}
            {{#if submitted}}

                {{#if errorMessage}}
                    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
                {{/if}}

            {{/if}}

        {{/unless}}

    </div>
</template>

<!-- Reusable select element -->
<template name="selectInput">
    <div class="reactive-input-container">

        <div class="form-group">
            <label>{{label}}</label>
            <select class="form-control reactive-element">
                    <option value="value1">Value1</option>
            </select>
        </div>

        {{!-- Hide messages if the surrounding form was successfully submitted --}}
        {{#unless success}}

        {{!-- If submitted and not success, show error messages --}}
            {{#if submitted}}

                {{#if errorMessage}}
                    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
                {{/if}}

            {{/if}}

        {{/unless}}

    </div>
</template>

<!-- Reusable form block -->
<template name="pricingFormBlock">
    <form>

        {{!-- Using a helper to get form-level schema context --}}
        {{> UI.contentBlock
        data=data
        schema=schema
        schemaContext=__schemaContext__
        setValidatedValue=__setValidatedValue__
        submit=__submit__
        submitted=__submitted__
        loading=__loading__
        failed=__failed__
        success=__success__
        }}

        <p>

            {{#if changed}}
                {{#unless success}}
                    <button type="submit" class="btn btn-md btn-primary">  Save  </button>
                {{/unless}}
            {{/if}}

            {{#if loading}}
                {{> spinner}}
            {{/if}}

            {{#if invalid}}
                <strong>Can't submit!</strong>
                There are <span class="badge">{{invalidCount}}</span> invalid fields!
            {{/if}}

            {{#if failed}}
                <strong>Woops!</strong>
                There was a problem submitting the form!
            {{/if}}

            {{#if success}}
                <strong>Success!</strong>
                Form submitted (to nowhere).
            {{/if}}

        </p>


        {{#if submitted}}
            <div class="bs-callout bs-callout-success">
                <div class="callout-header">
                    <h4>
                        Form now also has the <span class="label label-success">submitted</span> state.
                        <small>This state is persistent and non-exclusive.</small>
                    </h4>
                </div>
                {{#if any loading invalid failed}}
                    And the
                    {{#if loading}}<span class="label label-default">loading</span>{{/if}}
                    {{#if invalid}}<span class="label label-default">invalid</span>{{/if}}
                    {{#if failed}}<span class="label label-default">failed</span>{{/if}}
                    state(s).
                    <hr>
                {{/if}}
                <p>
                    The action function will run if the fields are valid.<br>
                    <strong>In this example, form elements only show validation error messages once the form
                        has been submitted.</strong>
                </p>
            </div>
        {{/if}}

    </form>
</template>


