<template name="listHouse">
    <div class="container header-padding">
        <h3>List Your House</h3>
        <h5>RentX makes it easy to rent out your house</h5>
    </div>
    <div class="list-house-form blue-grey lighten-5">
        <div class="row">
            <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                {{> listHouseForm}}
            </div>
        </div>
    </div>
{{> benefits }}
</template>

<template name="benefits">
<!-- Benefits Section -->
<div class="container">
    <div class="row center-align">
        <div class="col l6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x teal-text"></i>
                <i class="fa fa-key fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Quick and Easy</h4>
            <p class="grey-text text-darken-2">List your house on RentX and instantly have it exposed to thousands of potential tenants.
                You don't have to go through an agent and you don't have to pay excessive fees anymore.
                Renting can't be any more convenient</p>
        </div>
        <div class="col l6">
            <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x teal-text"></i>
                    <i class="fa fa-check-square-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Choose your Tenant</h4>
            <p class="grey-text text-darken-2">Decide on who to rent your house to by accessing the profiles of potential tenants who have expressed interest.
                You now have the information to decide on the best tenant for your house.</p>
        </div>
    </div>
</div>
<!--Benefits end -->
</template>

<!-- Wrapped input with form-wide schema -->
<template name="listHouseForm">
    {{#listHouseFormBlock schema=houseSchema action=action}}
        {{> textInputHor field='city'}}
        {{> selectInputHor field='bedrooms' options=bedrooms}}
        {{> selectInputHor field='houseType' options=houseTypes}}
    {{/listHouseFormBlock}}
</template>

<!-- Reusable form block -->
<template name="listHouseFormBlock">
    <form class="form-padding" id='listHouse' role="form">


        <div class="col  m10 offset-m2">

            {{#if loading}}
                {{> spinner}}
            {{/if}}

        </div>

        <div class="card-panel white">
            <div class="black-text">
                <div class="row">
                    {{!-- Using a helper to get form-level schema context --}}
                    {{> UI.contentBlock context=context}}
                    <div class="col s4" id="form-button">
                        <button class="btn waves-light" type="submit"><span class="network-name">Continue</span></button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</template>
