
#content-wrapper {
    padding: 10px 40px;
    min-height: 518px;
}

#form-wrapper {
    min-height: 300px;
}

#side-bar {
    z-index: 1;
    width: 200px;
    margin: 20px;
}

#price-icon {
    margin-top: 20px;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.space {
    margin: 20px;
    background-color: white;
}

#edit-house-photo {
    padding-top: 50px;
    padding-bottom: 50px;
}

#blue-camera {
    color: steelblue;
}