template(name="loginModal")
    #loginModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
                    h4.modal-title Please Log In
                .modal-body
                    +atForm
