template(name="loginModal")
    #loginModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-body
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
                    +atForm

template(name="signIn")
    .container.header-padding
        .row
            .col-md-6.col-md-offset-3
                +atForm
        .row
            .col-md-6.col-md-offset-3
                +benefitsLogin

template(name="benefitsLogin")
    span.fa-stack.fa-4x
        i.fa.fa-circle.fa-stack-2x.text-primary
        i.fa.fa-home.fa-stack-1x.fa-inverse
    h4.service-heading Rent your dream house without the hassle


