template(name="signUpModal")
    #signUpModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
                    h4.modal-title Please Sign Up
                .modal-body
                    +signUpForm

template(name="signUpForm")
    form#sign-up-form(role="form")
        fieldset
            .form-group
                input#signup-fname.form-control(type="text", placeholder="First Name", name="firstName", autofocus="")
            .form-group
                input#signup-lname.form-control(type="text", placeholder="Last Name", name="lastName", value="")
            .form-group
                input#signup-email.form-control(type="email", placeholder="E-mail", name="email", value="")
            .form-group
                input#signup-password.form-control(type="password", placeholder="Password", name="password", value="")
            if errorMessage
                .row
                    .col-sm-12.col-xs-12
                        .alert.alert-danger
                            | #{errorMessage}
            if signUpSuccessMessage
                .row
                    .col-sm-12.col-xs-12
                        .alert.alert-success
                            | #{signUpSuccessMessage}
            .row
                .col-sm-6.col-xs-6
                    input#login-button.btn-primary.form-control(type="submit", value="Create New Account")