<template name="header">

    <!-- Navigation Bar-->
    <nav class="blue-grey lighten-5" role="navigation">
        <div class="nav-wrapper container">
            <!-- Brand and Logo -->
            <a class="brand-logo" href="{{pathFor 'home' }}">Rent People</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <!-- If logged-in user use logged-in user template else use logged-out user template -->
            <ul class="right hide-on-med-and-down">
                {{#if currentUser}}
                    {{> LoggedInNavComponent}}
                {{else}}
                    {{> loggedOutNav}}
                {{/if}}
                <li><a href="#services">Services</a></li>
                <!-- List House link -->
                <ul class="right color-red">
                    <li><a href="/listHouse" ><span id="color-red"><i class="large mdi-content-add-circle right"></i>List your house</span></a></li>
                </ul>
            </ul>
        </div>
    </nav>

    <!-- Mobile SideNav Structure -->
    <ul class="side-nav" id="mobile-menu" role="menu">
        {{#if currentUser}}
            {{> LoggedInNavMobileComponent}}
        {{else}}
            {{> loggedOutNavMobile}}
        {{/if}}
    </ul>
</template>

<template name="loggedInNav">
    <!-- Help Dropdown Trigger -->
    <li><a class="dropdown-button" href="#" data-activates="dropdown-menu" role="button" aria-expanded="false">{{user}}<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
    <ul id="dropdown-menu" class="dropdown-content" role="menu">
        <li><a href="#">My Dashboard</a></li>
        <li><a href="#">My Listings</a></li>
        <li><a href="#">My Reservations</a></li>
        <li><a href="#">Edit Profile</a></li>
        <li class="divider"></li>
        <li><a href="#" id="logOut">Log Out</a></li>
    </ul>
</template>

<template name="loggedInNavMobile">
    <ul>
        <li><a href="#"><i class="mdi-action-account-circle left"></i>{{user}}</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="mdi-action-home left"></i>Home</a></li>
        <li><a href="#"><i class="mdi-action-list left"></i>My Listings</a></li>
        <li><a href="#"><i class="mdi-action-store left"></i>My Reservations</a></li>
        <li><a href="#"><i class="mdi-action-search left"></i>Search</a></li>
        <li><a href="/listHouse"><i class="mdi-content-add-circle left"></i>List your house</a></li>
        <li class="divider"></li>
        <li><a href="#" id="logOut"><i class="mdi-navigation-arrow-back left"></i>Log Out</a></li>
    </ul>
</template>

<template name="loggedOutNav">
    <li><a href="{{pathFor 'signIn'}}" id="login">Sign in</a></li>
</template>

<template name="loggedOutNavMobile">
    <li><a href="{{pathFor 'signIn'}}" id="login"><i class="mdi-navigation-arrow-forward left"></i>Sign in</a></li>
    <li><a href="#"><i class="mdi-action-info left"></i>How it works</a></li>
    <li><a href="/listHouse"><i class="mdi-content-add-circle left"></i>List your house</a></li>
</template>



